a{
  color: black;
  text-decoration: none;
  cursor: alias;  
}
#cate {
    width: 100%;
    text-align: justify;
    font-size: x-small;
}
.login{
    position: relative;
    left: 72%;
    top: -15px;
    width: 90px;
    font-size: large;
    color: blue;
}
h1{
    text-align: center;
}
div{
    border: none;
    width: 31%;
}
.first{
    position: relative;
    top: auto;
    bottom: -40px;
    width: 31%;
}
.second{
    position:relative;
    left:32%;
    top: -400px;
    width: 31%;
}
.third{
    position: relative;
    left: 64%;
    top: -660px;
    width: 31%;
}