h1{
    text-align: center;
}
div{
    border: none;
    width: 31%;
}
.first{
    position: relative;
    top: auto;
    bottom: -40px;
}
.second{
    position:relative;
    left:32%;
    top: -400px;
}
.third{
    position: relative;
    left: 64%;
    top: -660px;
}