h1{
    text-align: center;
}
div{
    border: none;
    width: 31%;
}
.first{
    position: relative;
    top: -20px;
}
.second{
    position:relative;
    left:32%;
    top: -189px;
}
.third{
    position: relative;
    left: 64%;
    top: -450px;
}